@tailwind base;
@tailwind components;
@tailwind utilities;

h6 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: theme('letterSpacing.tighter');
  color: theme('textColor.neutral.950');
}

p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: theme('letterSpacing.tighter');
  color: theme('textColor.neutral.400');
  line-height: normal;
}